@import "tailwindcss";

@media print {
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }

  /* Hide navigation bars and non-invoice elements during print */
  header, nav, #app-demo-bar, button {
    display: none !important;
  }
}

